@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300&display=swap');
@font-face {
    font-family: monkeyskull;
    src: url('fonte/aAssassinNinja.otf') format(opentype);
}

*{
    padding: 0%;
    margin: 0%;
}

:root{
    --cor1: rgb(36, 35, 35);
    --cor2: white;
    --cor3: rgba(225, 238, 250, 0.925);
    --cor4: black;
    --cor5: rgba(255, 255, 255, 0.356);
    --cor6: rgb(12, 12, 12);
    --cor7:rgba(255, 255, 255, 0.075);
    --cor8: rgba(0, 0, 0, 0.986);
    --cor9: rgb(16, 16, 31);
    --fonte1: 'Niramit', sans-serif;
    --fonte2: monkeyskull, sans-serif;
}

body{
    background-color: var(--cor8);
    font-family: var(--fonte1);
}

h1{
    text-align: center;
    color: var(--cor2);
    text-transform: uppercase;
    padding: 25px;
    font-family: var(--fonte1);
}

h2{
    text-align: center;
    font-family: var(--fonte2);
    font-size: 4em;
    padding: 50px;
}

h2 a{
    text-decoration: none;
    color: var(--cor3);
    padding: 15px;
}

h2 a:hover{
    font-size: 30px;
    color: var(--cor2);
    background-color: var(--cor9);
    border-radius: 5px;
}

p{
    text-align: center;
    text-indent: 25px;
    line-height: 1.4em;
    color: var(--cor2);
    font-family: var(--fonte1);
}

header{
    background: linear-gradient(to bottom, var(--cor4), var(--cor1));
    padding: 10px;
}

.logo{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

nav{
    padding: 20px;
    font-family: var(--fonte1);
}

.menu{
    width: 50%;
    align-content: left;
}

.menu a{
    text-decoration: none;
    color: var(--cor3);
    padding: 15px;
}

.menu a:hover{
    color: var(--cor2);
    background-color: var(--cor5);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.sociais{
    font-size: 25px;
}

.sociais a{
    color: var(--cor3);
}

.sociais a:hover{
    color: var(--cor2);
    font-size: 30px;
}

section a{
    padding: 5px;
    text-decoration: none;
    color: var(--cor3);
    font-size: 22px;
    border: 2px solid var(--cor4);
    border-radius: 5px;
    background-color: var(--cor7);
}

section a:hover{
    color: var(--cor2);
}

img.logo2{
    padding-top: 20px;
    width: 96vw;
}

.vid-index{
    text-align: center;
}

@media screen and (max-width: 768px){
    .video1{ 
        width: 400px;
        height: 200px; 
}
    .video2{ 
        width: 400px;
        height: 200px; 
}
    .video3{ 
        width: 400px;
        height: 200px; 
}
    .video4{ 
        width: 400px;
        height: 200px; 
}
    .video5{ 
        width: 400px;
        height: 200px; 
}

    section img.logo2{
        width: 95vw;
}
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .menu{
        display: grid;
    }
    
    .menu a:hover{
        width: 50%;
    }

    .video1{
        width: 650px;
        height: 400px;
    }

    .video2{
        width: 650px;
        height: 400px;
    }

    .video3{
        width: 650px;
        height: 400px;
    }

    .video4{
        width: 650px;
        height: 400px;
    }

    .video5{
        width: 650px;
        height: 400px;
    }
}

@media screen and (max-width: 1070px){
    .menu{
        display: grid;
    }

    .menu a:hover{
        width: 50%;
    }

    p{
        padding: 0px 15px;
    }

    footer a{
        width: 250px;
    }
}

.mandela{
    margin: auto;
    max-width: 600px;
}

div.mandela p{
    text-align: justify;
}

div.container{
    justify-content: space-around;
}

span.material-symbols-outlined > a{
    color: var(--cor3);
    text-decoration: none;
    display: block;
    font-size: 40px;
}

span.material-symbols-outlined > a:hover{
    color: var(--cor2);
}

img#timeline-mandela{
    width: 99vw;
    display: block;
    margin: auto;
    padding-bottom: 105px;
}

.mgt{   
    margin: auto;
    max-width: 600px;
}

.mgt h1{
    padding-top: 40px;
}

div.mgt p{    
    text-align: justify;
}

.pretending{   
    margin: auto;
    max-width: 600px;
}

div.pretending p{
    text-align: justify;
}

p.cont{
    padding-bottom: 95px;
}

img.img-contato{
    margin: 0px;
    padding: 0px;
    width: 95vw;
    display: flex;
    justify-content: center;
}

.img-contato{
    text-align: center;
}

.img-contato img{
    width: 50vw;
    margin: auto;
}

.pagcontato{
    text-decoration: none;
    color: var(--cor3);
}

.pagcontato:hover{
    color: var(--cor2);
    text-decoration: underline;
}

.contatos2 > p{
    line-height: 2.5em;
}

main video{
    border: 1px solid var(--cor7);
    margin: auto;
    min-width: 300px;
}

.elementos1{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.elementos1 > video{
    width: 800px;
}

.elementos2{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.elementos2 > video{
    width: 800px;
}

.elementos3{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.elementos3 > video{
    width: 700px;
}


aside{
    text-align: center;
    font-family: var(--fonte1);
    color: var(--cor2);
    padding-bottom: 20px;
}

aside img{
    width: 420px;
}

footer{
    background: linear-gradient(to bottom, var(--cor1), var(--cor4));
    padding: 8px 0px 0px 0px;
}

footer a{
    text-decoration: none;
    color: var(--cor3);
}

footer a:hover{
    color: var(--cor2);
}

footer p a{
    text-decoration: none;
    color: var(--cor3);
}

footer p a:hover{
    color: var(--cor2);
}

footer p.assinatura{
    text-align: right;
    color: var(--cor3);
    font-size: x-small;
}

footer h4{
    font-size: larger;
}

.container-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px 8px 0px;
    align-items: center;
}

.sociais-footer a{
    font: var(--fonte1);
    text-decoration: underline;
}

.sociais-footer ul{
    display: flex;
}

.img1{
    padding: 15px;
}

.img2{
    padding: 15px;
}

.img3{
    padding: 15px;
}

.sociais-footer li img{
    background-color: var(--cor2);
    border-radius: 25px;
    width: 26px;
}

div.container-footer li{
    list-style: none;
}

.assinatura{
    font-size: 0.8px;
    font-family: var(--fonte1);
}